[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/vim-scripts/vim-flake8.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
